<footer>
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
        <div class="container">
        <div class="row">
          
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box">
        <h5 class="widget-title"><img src="static/image/footer logo.png" width="200px" height="75px"></h5>
        <p> Selling Time with Trust</p>
        </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
        <h5 class="widget-title">Quick Navigation<span></span></h5>
        <ul class="thumbnail-widget">
        <p>
        <div class="thumb-content"><a href="#.">Homepage</a></div>	
        </p>
        <p>
        <div class="thumb-content"><a href="#.">Watches</a></div>	
        </p>
        <p>
        <div class="thumb-content"><a href="#.">Contact Us</a></div>	
        </p>

    
        </ul>
        </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
        <h5 class="widget-title">Payment Terms<span></span></h5>
        <p>All Prices are quoted in SGD</p>
        <p>Payment via Cash or PayNow</p>
        <p>Major credit cards are<br>
            accepted but may be  <br>
            subjected to 2.5% fees</p>
        
        </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-3">
        
        <div class="widget no-box">
        <h5 class="widget-title">Contact Us<span></span></h5>
        
        <p><a href="mailto:info@domain.com" title="glorythemes">info@timestory.sg</a></p>
        <ul class="social-footer2">
        <li class=""><a href="https://www.facebook.com/" target="_blank" title="Facebook">
            <img alt="Facebook" width="30" height="30" src="static/image/instagram icon.png"></a></li>
    
        <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/">
            <img alt="instagram" width="30" height="30" src="static/image/facebook icon.png"></a></li>
        </ul>
        </div>
        </div>
        
        </div>
        </div>
        </div>
          
        <div class="footer-copyright">
        <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
        <p>Copyright TimeStory © 2020. All rights reserved.</p>
        </div>
        </div>
        </div>
        </div>
        </footer>
     
</footer>