{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top navbar-light">
        <div class="container col-3 justify-content-start">
            <a href="#"><img src="{% static 'image/logo.png' %}" height="50" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>

        <div class="container col-6 ">
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="./">Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="watches">Watches</a>
                    <a class="nav-item nav-link" href="contactus">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="container col-3 justify-content-end">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                      aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </nav>
</header>